<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MeetApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign-up']">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row p-0 m-0">
    <div class="col-md-3 col-sm-2 col-lg-3">
      <!-- 4 part -->

    </div>

    <div class="col col-md-6 col-sm-8 col-lg-6 p-5 mainEl">
      <h2 class="form-signin-heading" style="text-align:center">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required
        autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password"
        required>
      <br>
      <a [routerLink]="['/forgotPassword']">Forgot Password ?</a>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signinFunction()">Sign in</button>
    </div>

    <div class="col-md-3 col-sm-2 col-lg-3">
      <!-- 4 part -->

    </div>
  </div>
</div>
