.mainEl {
  background: #f1f4f7;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem 0 #7C7C84;
  width: 80%;
  height: 80%;
  margin-top: 20%;
}

@media (min-width: 200px) and (max-width: 575px) {
  .col {
    width: 80%;
    height: 80%;
    margin-top: 40%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .mainEl {
    width: 80%;
    height: 80%;
    margin-top: 40%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mainEl {
    width: 80%;
    height: 80%;
    margin-top: 35%;
  }
}
